# Node.js folders and files
node_modules
# Angular
dist/
.angular/
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*
yarn-debug.log*
.yarn/
.cache/

# Development tools
.vscode
.idea

# System files
.DS_Store

